#box{
    width: 7vw;
    height: 7vh;
    background-color: #b916f4;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box p{
    font-size: 1.5vw;
    color: white;
}